*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(#CFB070, #ab600d) !important;
  min-height: 100vh;
  padding: 20px;
  /* overflow: hidden; */
}
.chess-btn{
  background-color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.color{
 background-color: #FEA500;
}
.green{
  box-shadow: 0px 0px 31px 13px green inset;
}
.chess-item{
  margin-bottom: 15px;
}
#animate-btn{
  padding: 0 25px;
  border: none;
}

.chess-table{
  width: 650px;
  height: 580px;
  border-radius: 4px;
  border: 20px solid #333;
}
.chess-columns{
  width: 12.5%;
  height: 68px;
  cursor: pointer;
}
.chess-columns:hover{
  box-shadow: 0px 0px 31px 13px #ff2929 inset;
}

.chess-x-info{
  background-color: #fff;
  padding: 2px 10px;
  font-size: 25px;
  color: #ab600d;
}

.board-color{
  background-color: #B58863;
}
.column-color{
  background-color: #F0D9B5;
}
.active{
  box-shadow: 0px 0px 31px 13px #ff2929 inset !important;
}

.green{
  box-shadow: 0px 0px 30px 13px #09ff00 inset; ;
}